:local {
  .Block {
    width: 100%;
    max-width: 566px;
    height: 161px;
    margin: 0 auto 20px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(91,137,164,0.25);
    border-radius: 5px;
    display: flex;
  }
  .SideContent {
    display: flex;
    flex-direction: column;
  }
  .Content {
    display: flex;
    justify-content: space-between;
  }
  .Time {

  }
}
