@import "./../../style/variables";

:local {
  .Tabs {
    display: flex;
    list-style: none;
    padding: 0 15px;
    margin: 10px 0 20px;
    @include respond-to('large') {
      margin: 10px 0 28px;
    }
  }

  .Error {
    border: 2px solid red;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .TabsItem {
    flex: 1 0 0;
    border: 1px solid #D2D5D6;
    background-color: #fff;
    border-right: none;
    color: #2196F3;
    &:hover {
      background-color: #F2FCFF;
      border-color: #64B5F5;
      transition-duration: .4s;
    }
  }

  .TabBtn {
    cursor: pointer;
    font-family: $ff-open-sans;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 30px;
    color: inherit;
    text-transform: uppercase;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    @include respond-to('large') {
      line-height: 37px;
    }
  }
  .TabsItemSelected {
    background-color: #2196F3;
    color: #fff;
    &:hover {
      background-color: #2196F3;
    }
  }
  .TabsItemLeft {
    border-radius: 5px 0 0 5px;
    border-right: none;
  }
  .TabsItem:hover + .TabsItem {
    border-left-color: #64B5F5;
    transition-duration: .4s;
  }
  .TabsItemLeft:hover + .TabsItem {
    border-left-color: #64B5F5;
    transition-duration: .4s;
  }
  .TabsItemRight {
    border-radius: 0 5px 5px 0;
    border-right: 1px solid #D2D5D6;
  }
}
