$ff-open-sans: 'Open Sans';
$ff-helvetica: 'Helvetica';

$breakpoints: (
        'small':  321px,
        'medium': 769px,
        'large':  993px
) !default;

@mixin respond-to($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}
