@import "./../../style/variables";

:local {
  .Options {
    background: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(91,137,164,0.25);
    border-radius: 5px;
    width: 100%;
    max-width: 232px;
    padding-bottom: 10px;
  }
  .Title {
    font-family: $ff-open-sans;
    font-size: 12px;
    font-weight: 600;
    color: #4A4A4A;
    letter-spacing: 0.5px;
    line-height: 19px;
    text-transform: uppercase;
    margin-bottom: 7px;
    padding-left: 20px;
  }
}
